@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

* {
  font-family: 'Spinnaker', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

body {
  background-color: #fefae0;
  margin: 0;
}

header {
  background-color: #283618;
  color: #fefae0;
}

img {
  width: 64px;
  height: 64px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

button {
  cursor: pointer;
}

select {
  padding: 10px;
  background: none;
  border: 3px solid #283618;
  font-size: 3rem;
  border-radius: 1rem;
  color: #283618;
}

label:hover {
  cursor: text;
}

input,
label,
button,
p,
li {
  font-size: 2.5rem;
  color: #283618;
}

li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

ul:empty {
  display: none;
}

button {
  padding: 10px;
  border: 3px solid #283618;
  border-radius: 1rem;
  background-color: #fefae0;
  transition: 0.3s all ease;
}

button:hover {
  background-color: #283618;
  border: 3px solid #fefae0;
  color: #fefae0;
}

input {
  background: transparent;
  border: 3px solid #283618;
  border-radius: 1rem;
  background-color: #fefae0;
}

#helper-text {
  width: 90%;
  text-align: center;
}

.platform-controls {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

#platform-name,
#new-platform-name {
  text-transform: uppercase;
}

.add-new-pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.invisible {
  display: none;
}